name: Process Uploaded Images

on:
  push:
    paths:
      - "static-content/uploads/**"

jobs:
  process:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install sharp
        run: |
          npm init -y
          npm install sharp

      - name: Convert images to webp
        run: |
          node process-images.js
